<p>トップページです</p>

<% if user_signed_in? %>
  <h3>トークルーム作成</h3>
  <%= form_with model: @room do |f| %>
    <%= f.label :name %>
    <%= f.text_field :name %>
    <%= f.submit "トークルームを作る" %> 
  <% end %>

  <h3>参加済トークルーム一覧</h3>
  <% @rooms.each do |room| %>
     <div class="table">
      <td>
        <%= link_to room_path(room.id) do %>
          <%= room.name %>
        <% end %>
      </td>
      <td>
        <%= link_to "ルーム削除", room_path(room.id), method: :delete, data: {confirm: "本当に削除してもよろしいですか？"}, class: "btn btn-sm btn-danger" %>
      </td>
    </div>
    <br>
  <% end %>

  <h3>未参加トークルーム一覧</h3>
  <% @nonrooms.each do |room| %>
    <%= link_to room_path(room.id) do %>
    <%= room.name %>
    <% end %>
  <% end %>
<% end %>

